# JetBrains
.idea

# cache
.cache
.pytest_cache
**/__pycache__

# build
dist
build
.eggs
*.egg-info

# git
.git
.gitattributes
.gitignore

# jupyter
.ipynb_checkpoints

# docker
.dockerignore
Dockerfile
docker-compose.yml
