#
# Minimal and extra dependencies to use locan
#
# Create new environment: conda env create --file "./environment.yml"
# Update existing environment: conda env update --file "./environment.yml"
#
name: locan

channels:
- conda-forge
- defaults

dependencies:
# Python
- cython
- pip
- tqdm
- qtpy!=2.3.0
- typing_extensions
- lazy_loader>=0.3

# Python tests
- pytest

# Scientific python
- numpy>1.20.0
- pandas
- scipy
- scikit-learn
- scikit-image
- matplotlib
- networkx
- shapely!=2.0.0,!=2.0.1
- lmfit

# Google
- protobuf<5

# File formats
- ruamel.yaml
- tifffile
- asdf
- # only needed for python < 3.11:
- tomli>=1.1.0

# Data analysis tools
- boost-histogram
- fast-histogram

# Extra requirements
# - pyside2>=5.12.3
- hdbscan
- colorcet
- trackpy
- napari
- mpl-scatter-density
- requests
- h5py

- pip:
    - open3d!=0.12.0; python_version<'3.11'

# Various issues
- pydantic!=1.8.0
