#
# Minimal and extra dependencies to use surepy
#

# Python
cython
numba
tqdm

# Python tests
pytest-runner
pytest

# Scientific python
numpy
pandas
scipy
scikit-learn
scikit-image
matplotlib
networkx
shapely
lmfit

# Google
protobuf

# File formats
ruamel.yaml
tifffile
asdf

# Data analysis tools
hdbscan
boost-histogram
fast-histogram

# Extra requirements
pyside2
colorcet
trackpy
open3d!=0.12.0
mpl_scatter_density
napari
