#
# Minimal dependencies to use surepy
#

# Python
numba

# Python tests
pytest-runner
pytest

# Scientific python
numpy
pandas
scipy
scikit-learn
scikit-image
matplotlib
lmfit

# Google
protobuf

# File formats
ruamel.yaml
asdf

# Data analysis tools
hdbscan
fast-histogram

# Extra requirements
pyside2
colorcet
shapely
trackpy
open3d
mpl_scatter_density
napari
