name: Tests with python matrix, pip
# skips qt-related tests

on:
  schedule:
    - cron: "47 4 * * 4"
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test-on-python:
    name: "Tests with linux, py${{ matrix.python-version }}, pip"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    env:
      REQUIREMENTS_FILE: "requirements-linux-py${{ matrix.python-version }}.yml"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: "Install ubuntu libraries"
        run: |
          sudo apt update 
          sudo apt -y install libegl1
      - name: "Install and upgrade"
        run: |
          python -m pip install --upgrade pip
          pip install pip-tools
      - name: "Install locan"
        run: pip install pyside6 .[test]
      - name: "Run tests"
        if: runner.os != 'Windows'
        run: pytest
      - name: "Run tests on Windows"
        if: runner.os == 'Windows'
        env:
          MPLBACKEND: agg
        run: pytest
