name: Tests with python matrix, pip, extra dependencies
# skips qt-related tests

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test-on-python:
    name: "Tests with linux, py${{ matrix.python-version }}, pip"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    env:
      REQUIREMENTS_FILE: "requirements-all-linux-py${{ matrix.python-version }}.yml"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: "Install ubuntu libraries"
        run: |
          sudo apt update 
          sudo apt -y install libegl1

      - name: "Install and upgrade"
        run: |
          python -m pip install --upgrade pip
          pip install pip-tools
      - name: "Run locan with extra requirements"
        run: |
          pip install pyqt6 .[all]
      - name: "Run tests"
        run: pytest
