name: Tests with OS matrix, Miniforge
# skips qt-related tests

on:
  schedule:
    - cron: "37 4 8 * *"
  workflow_dispatch:

defaults:
  run:
    shell: bash -l {0}

jobs:
  matrix-test-on-mambaforge:
    name: "Tests with ${{ matrix.os }}, py${{ matrix.python-version }}, Miniforge"
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: ["macos", "windows"]
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    env:
      REQUIREMENTS_FILE: "environment-${{ matrix.os }}-py${{ matrix.python-version }}.yml"
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          activate-environment: locan
          environment-file: environment.yml
          miniforge-version: latest
          python-version: ${{ matrix.python-version }}
      - name: "Install locan"
        run: |
          pip install .
      - name: "Run tests"
        run: pytest
      - name: "Freeze environment"
        run: conda env export > ${{ env.REQUIREMENTS_FILE }}
      - name: "Upload requirements file"
        uses: actions/upload-artifact@v4
        with:
          name: "${{ env.REQUIREMENTS_FILE }}"
          path: ${{ env.REQUIREMENTS_FILE }}
